:root {
  --branding-color: #e8dbd3;
  --secondary-color: #e7e4e2;
  --third-color: #a2b1b5;
  --heading-font-family: "Poppins", sans-serif;
  --default-font-family: "Roboto", sans-serif;
  --cursive-font-family: "Dancing Script", cursive;
  --decorative-font-family: "Libre Baskerville", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--third-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 20px;
  color: black;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 50px;
}

p {
  font-size: 20px;
  line-height: 30px;
  font-family: var(--default-font-family);
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

nav {
  padding: 10px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 25px;
  font-size: 25px;
  font-weight: 600;
  text-shadow: 1px 1px 2px grey;
}

nav a {
  text-decoration: none;
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
  text-transform: uppercase;
}

nav a:hover,
nav li.active a {
  color: #be7573;
}

a {
  color: rgb(238, 213, 225);
  text-decoration: none;
}

a:hover {
  color: #be7573;
  cursor: pointer;
}

.nav-logo {
  max-height: 80px;
  margin-right: 1010px;
}

.hero {
  height: 85vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/pinksky.avif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

.hero h1 {
  font-weight: 700;
  font-size: 90px;
  line-height: 1.5;
  margin: 0;
  font-family: var(--decorative-font-family);
  color: white;
}

.hero h2 {
  font-weight: 300;
  font-size: 30px;
  line-height: 1.5;
  margin: 0;
  color: white;
  font-family: var(--default-font-family);
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
}

section {
  background: var(--branding-color);
  padding: 20px;
}

footer .email-link {
  text-decoration: none;
  color: var(--branding-color);
  font-size: 38px;
  text-align: center;
  text-shadow: 1px 1px 3px rgb(87, 85, 85);
}

footer .email-link:hover {
  color: #be7573;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  padding: 10px 14px;
  font-size: 20px;
  background-color: #618286;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: #be7573;
}

.git-link {
  text-shadow: 1px 1px 3px rgb(87, 85, 85);
}

.contact-box {
  background: linear-gradient(135deg, #e8dbd3 0%, #618286 100%);
  margin: 60px 0;
  padding: 30px 120px;
}

.contact-box p {
  margin: 0;
  opacity: 1px;
}

.footer-contact {
  opacity: 0.8;
  text-align: center;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
  font-family: var(--decorative-font-family);
}

.content h2 {
  font-size: 25px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 35px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  margin: 20px 0 0;
}

.content p {
  font-size: 24px;
}

.content-container {
  padding: 60px 20px;
}

.content {
  margin: 30px;
}

.background {
  background-color: var(--secondary-color);
  padding: 40px;
  border-radius: 4px;
}

.contact-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/ocean.avif");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.contact-header {
  margin-bottom: 15px;
  font-size: 30px;
  text-shadow: 2px 2px 2px var(--branding-color);
}

.projects {
  line-height: 5;
  font-size: 28px;
  font-weight: bold;
}

.project-description {
  padding: 120 60px;
}

.contact-info {
  text-shadow: 1px 1px 2px var(--branding-color);
}

.about-img {
  margin: 20px;
  color: var(--branding-color);
  background: linear-gradient(135deg, #a2b1b4 0%, #e8dad3 100%);
  padding: 10px 14px;
  border-radius: 50%;
  width: 500px;
  height: auto;
}

.certifications {
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin: 80px 0;
  padding: 10px;
}

.about-link {
  font-size: 30px;
  color: black;
}

.img-certificates {
  padding: 15px;
}

i {
  font-size: 50px;
}

.btn-branding {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 15px 30px;
  background-color: var(--branding-color);
  color: black;
  text-decoration: none;
  border-radius: 4px;
  font-family: var(--heading-font-family);
}

.btn-branding-outline {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 15px 30px;
  background-color: var(--third-color);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-family: var(--heading-font-family);
}

.btn:hover {
  background-color: #be7573;
  color: white;
  cursor: pointer;
}

.carousel {
  position: relative;
  height: 800px;
  width: 80%;
  margin: 0 auto;
  padding: 50px;
}

.carousel-text {
  text-align: center;
  text-shadow: #be7573 1px 0 20px;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container {
  background: lightblue;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button--left {
  left: -40px;
}

.carousel__button--right {
  right: -40px;
}

.carousel__button img {
  width: 15px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 12px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
}

.is-hidden {
  display: none;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  h2 {
    font-size: 44px;
  }

  h4 {
    font-size: 26px;
  }
  .hero h1 {
    font-size: 60px;
    line-height: 1.5;
  }
  .hero h2 {
    font-size: 20px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .projects {
    font-size: 18px;
    text-align: center;
    font-weight: normal;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 80px 20;
  }
  .content h1 {
    font-size: 35px;
  }
  .content h3 {
    font-size: 20px;
  }
  .content p {
    font-size: 15px;
  }
  .nav-logo {
    margin-right: 0px;
    max-height: 40px;
  }
  nav li {
    font-size: 20px;
  }
  nav a {
    font-size: 14px;
  }
  .carousel {
    height: 400px;
    width: 80%;
  }
}
